@font-face {
    font-family: "Open";
    src: url("OpenSans.ttf");
}
@font-face {
    font-family: "Myriad";
    src: url("MyriadPro.ttf");
}
@font-face {
    font-family: "ArialN";
    src: url("ArialNarrow.ttf");
}

#bar {
    background-color: black;
    color: white;
    font-family: Myriad;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
#py {
    cursor: not-allowed;
}

#front {
    text-transform: uppercase;
    font-family: Open;
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 125px;
    margin-right: 0px;
}

.wob {
    color: white;
    background-color: black;
    display: inline-block;;
    width: 50%;
    text-align: left;
}
.bow {
    color: black;
    background-color: white;
    width: 50%;
    display: inline-block;
    text-align: right;
}

#head {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: Myriad;
    color: white;
    background-color: black;
    font-size: 20px;
}

.mastheadnameright {
    left: 50%;
    position: absolute;
}
.mastheadnameleft {
    left: 25%;
    position: absolute;
}

#articles {
    margin-left: 15%;
    margin-right: 15%;
}

.headline {
    font-family: ArialN;
    font-size: 32px;
}
.writer {
    font-family: ArialN;
    font-size: 16px;
    text-transform: capitalize;
}
.articletext {
    font-family: Myriad;
    font-size: 12px;
    text-align: justify;
}
#box {
    height: 300px;
    border-color: black;
    border-style: solid;
    border-width: medium;
    margin-left: 20%;
    margin-right: 20%;
}
#leftimage {
    border-style: dashed;
    height: 100%;
    width: 60%;
    display: inline-flex;
    border-width: 0px;
    vertical-align: top;
}
#rightnav {
    border-style: dashed;
    border-width: 0px;
    height: 300px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
}
.navbox {
    height: 32.7%;
    border-width: 1px;
    background-color: black;
    color: white;
    border-color: white;
    border-style: solid;
    font-family: ArialN;
    font-size: 20px;
    display: block;
    /*margin-top: 16.5%;
    margin-bottom: 16.5%;*/
    vertical-align: center;
    text-align: center;
}

.boximage {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    color: white;
}
.whitebreak {
    background-color: white;
    height: 10px;
}
